body {
 background-color: #ffdab9;
 color: #000000;
}

h1 {
 text-align: center;
 color: #000000;
}

h2 {
 text-align: center;
 color: #000000;
}

h3 {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #e34234;
 font-size: large;
}

ul {
 list-style-type: none;
 margin: 0;
 padding: 0;
 overflow: hidden;
 background-color: #e34234;
 font-size: large;
}


.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width="100"; 
 height="500";
}

a {font-size: 100px}
