body {
 background-color: #ffdab9;
 color: #FFFFFF;
}

h1 {
 text-align: center;
 color: #000000;
}

h2 {
 text-align: center;
 color: #000000;
}




.center {
 display: block;
 margin-left: auto;
 margin-right: auto;
 width="100"; 
 height="500";
}

a {
 font-size: 200px;
 text-align: center;
}
